.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px 10px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 20%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 1.3rem;
    color: rgba(22, 24, 35, 0.5);
}
