.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156);


    .table {
        background-color: #111;

        .tableCell {
            color: white;
        }
    }

    .navbar {
        color: #999;
        border-color: #333;

        .search {
            border-color: white;
        }
    }

    .sidebar {
        background-color: #111;
        border-color: #333;

        .top {
            .logo {
                color: #999;
            }
        }

        hr {
            border-color: #333;
        }

        ul {
            li {
                &:hover {
                    background-color: #333;
                }

                .icon {
                    color: #999;
                }
            }
        }
    }

    .toggle-button {
        font-size: 30px;
        color: grey;
        cursor: pointer;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 0;
    }



    .datatable {
        .datagrid {
            color: white;
            border: none;

            .viewButton,
            .deleteButton,
            .cellWithStatus {
                color: white;
                border: none;
            }

            p {
                color: white;
            }

        }

        .categoryList {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;

            .categoryButton {
                background: black;
                border: solid white;
                border-radius: 15px;
                padding: 15px;
                font-size: large;
                cursor: pointer;
                color: white;
            }
        }
    }

    input {
        background-color: transparent;
        color: white;
    }
}