.wrapper {
    swiper-container {
        border-radius: 15px;
        img,
        swiper-slide {
            border-radius: 15px;
            width: 100%;
            height: 370px;
        }
    }
}
