.wrapper {
    .inner {
        position: relative;

        .btn-click {
            .select2 {
                width: 100% !important;

                .select2-selection {
                    height: 52px;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    padding: 5px 20px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    outline: none;

                    .select2-selection-rendered {
                        color: #444;
                        line-height: 28px;
                        padding: 0;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 16px;
                        font-family: medium;
                    }

                    .select2-selection-arrow {
                        height: auto;
                        position: absolute;
                        top: unset;
                        right: 10px;
                        width: 20px;
                        .icon-arrow {
                            font-size: 2.1rem;
                            color: #555;
                            &.rotate {
                                transform: rotate(180deg);
                                -webkit-transform: rotate(180deg);
                            }
                        }
                    }
                }

                .select2-selection--single {
                    background-color: #fff;
                    border-radius: 4px;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            }
        }

        .select-menu {
            &.active-menu {
                display: block;
            }
            display: none;
            position: absolute;
            top: 46px;
            left: 0;
            right: 0;
            border: 1px solid #d1d1d1;
            border-radius: 0 0 4px 4px;
            padding: 0 10px 5px;
            z-index: 1;
            background: #fff;
            // width: max-content;
            .box-search {
                position: relative;
                display: block;
                margin: 10px 0;

                input {
                    cursor: pointer;
                    border: 1px solid #d1d1d1;
                    padding: 10px;
                    border-radius: 4px;
                    width: 100%;
                    font-size: 14px;
                    color: #333;
                }
                a {
                    position: absolute;
                    right: 0;
                    top: -1px;
                    padding: 10px;
                    .icon-search {
                        font-size: 2rem;
                        color: #333;
                    }
                }
            }
            .list-name {
                position: relative;
                // overflow-y: scroll;
                max-height: 190px;
                display: block;
                aside {
                    overflow: hidden;
                    min-width: 140px;
                    // width: fit-content;
                    // float: left;
                    span {
                        display: block;
                        overflow: hidden;
                        padding: 6px;
                        color: #288ad6;
                        margin-bottom: 1px;
                        // max-width: 150px;
                        font-size: 14px;

                        &:hover {
                            background: #5897fb;
                            color: #fff;
                        }

                        &.active {
                            background: #288ad6;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
