.datatable {
    height: auto;
    padding: 20px;

    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            border-radius: 5px;


            input {
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder {
                    font-style: 12px;
                }
            }
        }
    }


    .categoryList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .categoryButton {
            background: #b5ccf2;
            border: solid white;
            border-radius: 15px;
            padding: 15px;
            font-size: large;
            cursor: pointer;
            margin-bottom: 10px;

        }
    }
}

.cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: darkblue;
        border: 1px dotted rgba(0, 0, 139, 0.596);
        cursor: pointer;
    }

    .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: crimson;
        border: 1px dotted rgba(220, 20, 60, 0.6);
        cursor: pointer;
    }
}

@media (max-width: 768px) {

    .datatable {

        width: 90%;

    }

}

@media (max-width: 480px) {

    .datatable {

        width: 100%;

    }

    .datatableTitle {

        font-size: 18px;

    }

}