.wrapper {
    width: 20%;
    position: relative;
    padding-left: 0;
    padding-right: 0;

    &:first-child {
        .inner {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }

    &:last-child {
        .inner {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
    &:hover {
        padding-top: 0;
        padding-bottom: 0;
        background: #fff;
        border-radius: 15px;
        position: relative;
        z-index: 9999999999;

        .inner {
            box-shadow: 0 0 10px 2px #ddd;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 40px 20px 15px;
            border-radius: 15px;
        }
        .trending-p {
            top: 12px;
        }
        .discount-p {
            top: 8px;
        }
        .specification {
            display: block;
        }
        .btn-product {
            display: flex;
        }
    }
}

.inner {
    background: #fff;
    padding: 80px 20px 55px;
    position: relative;
}

p {
    margin: 0 0 10px;
}

.trending-p {
    position: absolute;
    top: 50px;
    left: 20px;
    background: #ff9700;
    font-size: 12px;
    font-family: bold;
    padding: 1.5px 13px 1.5px 10px;
    color: #fff;
    margin-bottom: 0;
    clip-path: polygon(0% 0%, 100% 0, 92% 50%, 100% 100%, 0% 100%);
}

.discount-p {
    background: #ff5e22;
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 14px;
    font-family: bold;
    padding: 5px 3px 6px;
    color: #fff;
    margin-bottom: 0;
    clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 50% 90%, 50% 90%, 0 100%, 0 0);
    span {
        font-size: 10px;
        margin-left: 2.5px;
    }
}

.a-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    margin-bottom: 15px;
    background-color: transparent;
    img {
        max-height: 100%;
        max-width: 100%;
        vertical-align: middle;
    }
}

.status-text {
    background: unset;
    margin-bottom: 0;
    height: 26px !important;
}

.a-title {
    margin: 15px 0 12px;
    font-size: 16px;
    font-family: bold;
    line-height: 130%;
    color: #000;
    text-align: left;
    height: 62px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price {
    font-size: 18px;
    font-family: bold;
    line-height: 15.8px;
    text-align: left;
    color: #ff5e22;
    margin-bottom: 0;
    .price-old {
        font-family: regular;
        margin-left: 5px;
        font-size: 12px;
        text-decoration: line-through;
        color: #777;
    }
}

.love-same {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
    .p-version {
        color: #7c7c7c;
        font-size: 12px;
        margin-bottom: 0;
    }
    .p-love {
        color: #7c7c7c;
        font-size: 12px;
        margin-bottom: 0;
        a {
            position: relative;
            padding-left: 23px;
            color: #444;
            .svg-love {
                position: absolute;
                top: -2px;
                left: 0;
                margin-right: 8px;
                width: 15px;
                path {
                    fill: #ff5e22;
                }
                // &.hidden {
                //     display: none;
                // }
            }

            .svg-love-active {
                position: absolute;
                top: -2px;
                left: 0;
                margin-right: 8px;
                width: 15px;
                path {
                    fill: #ff5e22;
                }

                // &.hidden {
                //     display: none;
                // }
            }

            .hidden {
                display: none;
            }

            &:hover {
                color: #f60;
            }
        }
    }
}

.specification {
    display: block;
    display: none;
    background-color: #efefef;
    border-radius: 12px;
    padding: 10px;
    margin: 12px 0;
    font-size: 12px;
    overflow: hidden;
    line-height: 130%;
    p {
        margin-bottom: 2px;
        color: #7c7c7c;
    }
}

.btn-product {
    // display: flex;
    display: none;
    border-radius: 5px;
    // background: #ff5e22;
    .a-add-cart {
        width: 100%;
        // width: 30%;
        height: 35px;
        background-image: linear-gradient(to right, #ffce00, #ff9700);
        // display: grid;
        // align-items: center;
        // justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 100%;
        color: #fff;
        font-family: bold;
        font-size: 10px;
        border-radius: 5px;

        span {
            margin-left: 10px;
            font-size: 13px;
            font-family: medium;
        }

        svg {
            width: 18px;
            path {
                fill: #fff;
            }
        }
    }
    .a-compare {
        border-radius: 20px;
        width: 70%;
        height: 35px;
        background: #ff5e22;
        display: grid;
        align-items: center;
        justify-content: center;
        line-height: 100%;
        color: #fff;
        font-family: bold;
        font-size: 14px;
    }
}
