.datatable {
    height: 400px;
    padding: 20px;

    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .search {
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            border-radius: 5px;


            input {
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder {
                    font-style: 12px;
                }
            }
        }
    }

    .statusList {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .statusButton {
            padding: 10px;
            border-radius: 15px;
            cursor: pointer;
            border: none;
        }

        .ALL {
            background-color: rgba(128, 128, 128, 0.15);
            color: grey;

        }

        .PENDING {
            background-color: rgba(0, 128, 0, 0.15);
            color: green;

        }

        .SHIPPING {
            background-color: rgba(255, 0, 0, 0.15);
            color: crimson;

        }

        .RECEIVED {
            background-color: rgba(135, 206, 250, 0.15);
            color: lightskyblue;

        }

        .COMPLETED {
            background-color: rgba(255, 217, 0, 0.15);
            color: goldenrod;
        }
    }

    .statusCell {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        border-radius: 15px;

        &.PENDING {
            background-color: rgba(0, 128, 0, 0.15);
            color: green;
        }

        &.SHIPPING {
            background-color: rgba(255, 0, 0, 0.15);
            color: crimson;
        }

        &.RECEIVED {
            background-color: rgba(135, 206, 250, 0.15);
            color: lightskyblue;

        }

        &.COMPLETED {
            background-color: rgba(255, 217, 0, 0.15);
            color: goldenrod;

        }
    }

}