.menu-item {
    color: #606060;
    font-family: bold;
    font-size: 16px;
    line-height: 19px;
    margin: 0 15px;
    transition: color ease-in-out 200ms;

    &.active {
        color: #0079f2;
    }

    &:hover {
        color: #0079f2;
    }
}
