@import "../../styles/responsive.scss";

.promotion{
    display: flex;

    @include xl {
        flex-direction: column;
        gap: 50px;
    }

    .view {
        flex: 1;

        .info {
            .topInfo {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 20px;
                    object-fit: cover;
                }

                h1 {
                    font-weight: 500;
                }
            }

            .details {
                font-size: 18px;
                display: flex;
                flex-wrap: wrap;
                .item {
                    margin: 15px 0px;
                    display: flex;
                    align-items: center;
                    flex-basis: 99%;    
                    .itemTitle {
                        font-weight: 600;
                        margin-right: 10px;
                        text-transform: capitalize;
                    }
                }

                .item2row {
                    margin: 15px 0px;
                    display: flex;
                    align-items: center;
                    flex-basis: 50%; // Đảm bảo mỗi item chiếm 50% width
          
                    .itemTitle {
                      font-weight: 600;
                      margin-right: 10px;
                      text-transform: capitalize;
                    }
          
                    
                }
            }
        }

        hr {
            width: 90%;
            height: 0;
            border: 0.5px solid gray;
            margin: 20px 0px;

            @include md {
                display: none;
            }
        }

        .chart {
            margin-top: 50px;
            width: 80%;
            height: 400px;

            @include md {
                display: none;
            }
        }
    }

}